<div class="info-conatiner p-3">
	<div>
		<div class="info-box my-2 px-4 py-3">
			<div class="info-box-item"></div>
			<code>&lt;div class="flex-container"&gt;</code>
		</div>
		<p>A simple <code>&lt;div&gt;</code> container element. Change this to a <b>flex-container</b> using the panel on
			the right</p>
		<div class="info-box my-2 px-4 py-3">
			<div class="info-box-item"></div>
			<div class="info-box-item"></div>
			<code>&lt;div class="flex-item"&gt;</code>
		</div>
		<p>A simple <code>&lt;div&gt;</code> child element. There are 8 of these. <b>Change it's flex styles</b> using the
			panel on the right</p>
	</div>
	<div class="ext-links">
		<p class="mb-4"><a href="https://github.com/aashwath/layouter" target="_blank">Checkout the code on GitHub&nbsp;<mat-icon
				class="material-icons">code</mat-icon></a><br><small>Developed using Angular and Bootstrap</small></p>
		<p><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">Visit CSS Tricks&nbsp;<mat-icon class="material-icons">open_in_new</mat-icon></a><br><small>to learn more about flex and short hand properties</small></p>
	</div>
</div>