<div class="info-conatiner p-3">
	<div><div class="info-box my-2 px-4 py-3">
		<div class="info-box-item"></div>
		<code>&lt;div class="flex-container"&gt;</code>
	</div>
	<p>A simple <code>&lt;div&gt;</code> container element. Change this to a <b>flex-container</b> using the panel on
		the right</p>
	<div class="info-box my-2 px-4 py-3">
		<div class="info-box-item"></div>
		<div class="info-box-item"></div>
		<code>&lt;div class="flex-item"&gt;</code>
	</div>
	<p>A simple <code>&lt;div&gt;</code> child element. There are 8 of these. <b>Change it's flex styles</b> using the
		panel on the right</p>
  </div>
	<div>
		<p class="mb-0"><a href="www.github.com/aashwath" target="_blank">Visit GitHub</a><br></p>
			<p><small>to check out the code</small></p>
			<p class="mb-0"><a href="#">Visit CSS Tricks</a></p>
			<p><small>to learn more about flex and short hand properties</small></p>
			<p>Made with Angular 8</p>
	</div>
</div>